app = "mafia-app"

[[services]]
    internal_port = 3000
    protocol = "tcp"

[[services.ports]]
    handlers = ["http"]
    port = 80

[[services.ports]]
    handlers = ["tls", "http"]
    port = 443

[services.load_balancer]
    sticky_sessions = true