@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-black: rgba(21, 21, 21, 1);
    --color-gray: rgba(28, 28, 28, 1);
    --color-light-gray: rgba(44, 44, 44, 1);
    --color-lighter-gray: rgba(37, 37, 37, 1);
    --color-purple: rgba(104, 9, 205, 1);
    --color-teal: rgba(131, 255, 220, 1);

    --font-inter: "Inter", sans-serif;
}

body {
    scrollbar-gutter: stable;
    overflow-x: hidden;
    @apply m-0 p-0;
    @apply text-white;
    @apply font-inter;
    @apply bg-black;
}